<div class="message me" [style.maxHeight]="message > 0 ? '300px': '0px'" [style.margin]="message > 0 ? '10px': '0px'">
  <div class="value">
    <div class="text">Hey, there i have a 🎁 for u </div>
    <div class="time">15:24</div>
  </div>
</div>
<div class="message" [style.maxHeight]="message > 1 ? '300px': '0px'" [style.margin]="message > 1 ? '10px': '0px'">
  <div class="value">
    <div class="text">SHOW ME!!! 😲😲😲</div>
    <div class="time">15:24</div>
  </div>
</div>
<div class="message me" [style.maxHeight]="message > 2 ? '300px': '0px'" [style.margin]="message > 2 ? '10px': '0px'">
  <div class="value">
    <div class="text">
      <div class="linktext">https://wowcutegift.com/gift;id=6235a5884ba26cf49fea6151</div>
      <div class="linkblock">
        <div class="leftlinkblock">
          <div class="linklinkblock">wowcutegift.com</div>
          <div class="titlelinkblock">
            <div class="texttitlelinkblock">Gift for you</div>
          </div>
          <div class="descrlinkblock">
            <div class="textdescrlinkblock">Look what I have prepared for you</div>
          </div>
        </div>
        <div class="imagelinkblock" [style.backgroundImage]="'url(../../assets/preview.jpg)'"></div>
      </div>
    </div>
    <div class="time">15:24</div>
  </div>
</div>
