:host {
  // animation-name: rotateBox;
  // animation-duration: 8s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // transform: rotateY(15deg) rotateX(-15deg);
  //----------------
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  .side {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    .сlip {
      position: absolute;
      transform-origin: left center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform-style: preserve-3d;
      .triangle {
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fill {
          position: absolute;
          background-color: #c3aa83;
        }
      }
      .triangle.first {
        transform-origin: center bottom;
      }
      .triangle.second {
        transform-origin: center top;
      }
      .middle {
        background-color: #c3aa83;
      }
    }
    .сlip.first {
      transform: translateX(550%) rotateY(0deg);
    }
    .darkness {
      width: 100%;
      height: 100%;
    }
  }
  .side.front, .side.back, .side.left, .side.right {
    transform-origin: center bottom;
  }
  .side.top {
    transform-origin: left center;
  }
  @keyframes rotateBox {
    // 0% {
    //   transform: rotateX(0deg) rotateY(0deg);
    // }
    // 100% {
    //   transform: rotateX(360deg) rotateY(360deg);
    // }
    0% {
      transform: rotateX(-15deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-15deg) rotateY(360deg);
    }
    // 0% {
    //   transform: rotateX(0deg);
    // }
    // 100% {
    //   transform: rotateX(360deg);
    // }
  }
}
:host(.animate) {
  .side {
    transition: transform ease 0.3s;
    .сlip {
      transition: transform ease 0.3s;
      .triangle {
        transition: transform ease 0.3s;
      }
    }
  }
}
