<div class="side front"
[style]="{
  'width': width+'px',
  'height': height+'px',
  'background-color': color,
  'transform': 'translateZ('+depth/2+'px) rotateX('+(unbox ? -90 : 0)+'deg)'}"
>
  <div class="wrap" [style.width]="width+'px'" [style.height]="height+'px'" [style.transform]="'translateZ(-1px) rotateX(180deg) rotateZ(0deg)'" [style.backgroundImage]="'url('+sides[3]+')'"></div>
  <div class="сlip" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height)+'px', 'transform': 'translateX('+(width/2+(0.4*height/5)/2)+'px) rotateY('+(bind2 || !unbox ? 90 : 0)+'deg)'}">
    <div class="triangle first" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+(-0.4*height/2+(0.4*height/5)/2)+'px) rotateX('+(bind1 ? 90 : 0)+'deg)'}">
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', 'transform': 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(0.25*(0.4*height/5))+'px) rotateZ(45deg)'}">
        <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
      </div>
    </div>
    <div class="middle" [style]="{'width': 0.4*height/5+'px', 'height': 0.4*height-2*0.4*height/5+'px'}"></div>
    <div class="triangle second" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+((0.4*height)/2-(0.4*height/5)/2)+'px) rotateX('+(bind1 ? -90 : 0)+'deg)'}" >
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', transform: 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(-0.25*(0.4*height/5))+'px) rotateZ(-45deg)'}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
  </div>
  <div class="сlip" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height)+'px', 'transform': 'translateX('+(-width/2+(0.4*height/5)/2)+'px) rotateZ(180deg) rotateY('+(bind2 || !unbox ? 90 : 0)+'deg)'}">
    <div class="triangle first" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+(-0.4*height/2+(0.4*height/5)/2)+'px) rotateX('+(bind1 ? 90 : 0)+'deg)'}">
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', 'transform': 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(0.25*(0.4*height/5))+'px) rotateZ(45deg)'}">
        <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
      </div>
    </div>
    <div class="middle" [style]="{'width': 0.4*height/5+'px', 'height': 0.4*height-2*0.4*height/5+'px'}"></div>
    <div class="triangle second" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+((0.4*height)/2-(0.4*height/5)/2)+'px) rotateX('+(bind1 ? -90 : 0)+'deg)'}" >
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', transform: 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(-0.25*(0.4*height/5))+'px) rotateZ(-45deg)'}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
  </div>
</div>
<div class="side back"
[style]="{
  'width': width+'px',
  'height': height+'px',
  'background-color': color,
  'transform': 'translateZ('+(-depth/2)+'px) rotateY(180deg) rotateX('+(unbox ? -90 : 0)+'deg)'}"
>
  <div class="wrap" [style.width]="width+'px'" [style.height]="height+'px'" [style.transform]="'translateZ(-1px) rotateX(180deg) rotateZ(180deg)'" [style.backgroundImage]="'url('+sides[1]+')'"></div>
  <div class="сlip" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height)+'px', 'transform': 'translateX('+(width/2+(0.4*height/5)/2)+'px) rotateY('+(bind2 || !unbox ? 90 : 0)+'deg)'}">
    <div class="triangle first" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+(-0.4*height/2+(0.4*height/5)/2)+'px) rotateX('+(bind1 ? 90 : 0)+'deg)'}">
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', 'transform': 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(0.25*(0.4*height/5))+'px) rotateZ(45deg)'}">
        <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
      </div>
    </div>
    <div class="middle" [style]="{'width': 0.4*height/5+'px', 'height': 0.4*height-2*0.4*height/5+'px'}"></div>
    <div class="triangle second" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+((0.4*height)/2-(0.4*height/5)/2)+'px) rotateX('+(bind1 ? -90 : 0)+'deg)'}" >
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', transform: 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(-0.25*(0.4*height/5))+'px) rotateZ(-45deg)'}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
  </div>
  <div class="сlip" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height)+'px', 'transform': 'translateX('+(-width/2+(0.4*height/5)/2)+'px) rotateZ(180deg) rotateY('+(bind2 || !unbox ? 90 : 0)+'deg)'}">
    <div class="triangle first" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+(-0.4*height/2+(0.4*height/5)/2)+'px) rotateX('+(bind1 ? 90 : 0)+'deg)'}">
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', 'transform': 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(0.25*(0.4*height/5))+'px) rotateZ(45deg)'}">
        <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
      </div>
    </div>
    <div class="middle" [style]="{'width': 0.4*height/5+'px', 'height': 0.4*height-2*0.4*height/5+'px'}"></div>
    <div class="triangle second" [style]="{'width': (0.4*height/5)+'px', 'height': (0.4*height/5)+'px', 'transform': 'translateY('+((0.4*height)/2-(0.4*height/5)/2)+'px) rotateX('+(bind1 ? -90 : 0)+'deg)'}" >
      <div class="fill" [style]="{'width': ((0.4*height/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*height/5)*(math.pow(2,(1/2))))/2+'px', transform: 'translateX('+(-0.25*(0.4*height/5))+'px) translateY('+(-0.25*(0.4*height/5))+'px) rotateZ(-45deg)'}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
  </div>
</div>
<div class="side left"
[style]="{
  'width': depth+'px',
  'height': height+'px',
  'background-color': color,
  'transform': 'translateX('+(-width/2)+'px) rotateY(-90deg) rotateX('+(unbox ? -90 : 0)+'deg)'}"
>
  <div class="wrap" [style.width]="height+'px'" [style.height]="depth+'px'" [style.transform]="'translateZ(-1px) rotateY(180deg) rotateZ(90deg)'" [style.backgroundImage]="'url('+sides[0]+')'"></div>
  <div class="darkness" [style.backgroundColor]="'#00000011'"></div>
</div>
<div class="side right"
[style]="{
  'width': depth+'px',
  'height': height+'px',
  'background-color': color,
  'transform': 'translateX('+(width/2)+'px) rotateY(90deg) rotateX('+(unbox ? -90 : 0)+'deg)'}">
  <div class="wrap" [style.width]="height+'px'" [style.height]="width+'px'" [style.transform]="'translateZ(-1px) rotateX(180deg) rotateZ(90deg)'" [style.backgroundImage]="'url('+sides[4]+')'"></div>
  <div class="darkness" [style.backgroundColor]="'#00000011'"></div>
  <div class="side top" [style]="{
    'width': width+'px',
    'height': depth+'px',
    'background-color': color,
    'transform': 'translateX('+(width/2)+'px) translateY('+(-height/2)+'px) rotateX('+(unbox ? 0 : 90)+'deg) rotateZ(-90deg)'}"
  >
  <div class="wrap" [style.width]="width+'px'" [style.height]="depth+'px'" [style.transform]="'translateZ(-1px) rotateX(180deg) rotateZ(0deg)'" [style.backgroundImage]="'url('+sides[5]+')'"></div>
  <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
  <!-- <div class="сlip" [style]="{'width': clips[4].w+'px', 'height': clips[4].h+'px', 'transform': clips[4].trnsf}">
    <div class="triangle first" [style]="{'width': clips[4].wTrngl+'px', 'height': clips[4].hTrngl+'px', 'transform': clips[4].trnsfTrngl1}">
      <div class="fill" [style]="{'width': clips[4].wFillTrngl1+'px', 'height': clips[4].hFillTrngl2+'px', transform: clips[4].trnsfFillTrngl1}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
    <div class="middle" [style]="{'width': clips[4].wMiddle+'px', 'height': clips[4].hMiddle+'px'}"></div>
    <div class="triangle second" [style]="{'width': clips[4].wTrngl+'px', 'height': clips[4].hTrngl+'px', 'transform': clips[4].trnsfTrngl2}">
      <div class="fill" [style]="{'width': clips[4].wFillTrngl1+'px', 'height': clips[4].hFillTrngl2+'px', transform: clips[4].trnsfFillTrngl2}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
  </div> -->
  <div class="сlip" [style]="{'width': (0.4*depth/5)+'px', 'height': (0.4*depth)+'px', 'transform': 'translateX('+(width/2+(0.4*depth/5)/2-1)+'px) rotateY('+(bind2 || !unbox ? 90 : 0)+'deg)'}">
    <div class="triangle first" [style]="{'width': (0.4*depth/5)+'px', 'height': (0.4*depth/5)+'px', 'transform': 'translateY('+(-0.4*depth/2+(0.4*depth/5)/2)+'px) rotateX('+(bind1 ? 90 : 0)+'deg)'}">
      <div class="fill" [style]="{'width': ((0.4*depth/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*depth/5)*(math.pow(2,(1/2))))/2+'px', 'transform': 'translateX('+(-0.25*(0.4*depth/5))+'px) translateY('+(0.25*(0.4*depth/5))+'px) rotateZ(45deg)'}">
        <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
      </div>
    </div>
    <div class="middle" [style]="{'width': 0.4*depth/5+'px', 'height': 0.4*depth-2*0.4*depth/5+'px'}"></div>
    <div class="triangle second" [style]="{'width': (0.4*depth/5)+'px', 'height': (0.4*depth/5)+'px', 'transform': 'translateY('+((0.4*depth)/2-(0.4*depth/5)/2)+'px) rotateX('+(bind1 ? -90 : 0)+'deg)'}" >
      <div class="fill" [style]="{'width': ((0.4*depth/5)*(math.pow(2,(1/2))))+'px', 'height': ((0.4*depth/5)*(math.pow(2,(1/2))))/2+'px', transform: 'translateX('+(-0.25*(0.4*depth/5))+'px) translateY('+(-0.25*(0.4*depth/5))+'px) rotateZ(-45deg)'}"><div class="darkness" [style.backgroundColor]="'#00000022'"></div></div>
    </div>
  </div>
</div>
</div>
<div class="side bottom" [style]="{'width': width+'px', 'height': depth+'px', 'background-color': color, 'transform': 'translateY('+(height/2)+'px) rotateX(-90deg)'}">
  <div class="wrap" [style.width]="width+'px'" [style.height]="depth+'px'" [style.transform]="'translateZ(-1px) rotateX(180deg) rotateZ(0deg)'" [style.backgroundImage]="'url('+sides[2]+')'"></div>
  <div class="darkness" [style.backgroundColor]="'#00000022'"></div>
  <ng-content></ng-content>
</div>
