<div class="lid top"
[style.width]="w+'px'"
[style.height]="h+'px'"
[style.transform]="'translateZ('+d/4+'px) rotateY('+rotateLid+'deg)'">
  <div class="front"
  [style.width]="w+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateZ('+(d/4)+'px)'"
  [style.backgroundColor]="color">
    <div class="image" [style.background-image]="'url('+img+')'"></div>
    <div class="overlap top"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(-h/2+sizeCorner/2)+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="overlap bottom"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(h/2-sizeCorner/2)+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="back"
  [style.width]="w+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateZ('+(-d/4)+'px)'"
  [style.backgroundColor]="color">
    <div class="insideWrap" [style.background-image]="'url('+wrap+')'" [style.transform]="'translateZ(-0.1px) rotateY(180deg)'"></div>
    <div class="overlap top"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(-h/2+sizeCorner/2)+'px)'"
    [style.backgroundColor]="color">
      <div class="insideWrap" [style.background-image]="'url('+wrap+')'" [style.transform]="'translateZ(-0.1px) rotateY(180deg)'"></div>
    </div>
    <div class="overlap bottom"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(h/2-sizeCorner/2)+'px)'"
    [style.backgroundColor]="color">
      <div class="insideWrap" [style.background-image]="'url('+wrap+')'" [style.transform]="'translateZ(-0.1px) rotateY(180deg)'"></div>
    </div>
  </div>
  <div class="left"
  [style.width]="(d/2)+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateX('+(-w/2)+'px) rotateY(-90deg)'"
  [style.backgroundColor]="color">
    <div class="image" [style.background-image]="'url('+leftimg+')'"></div>
  </div>
  <div class="right"
  [style.width]="(d/2)+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateX('+(w/2)+'px) rotateY(90deg)'"
  [style.backgroundColor]="color"></div>
  <div class="top"
  [style.width]="(w-2*sizeCorner)+'px'"
  [style.height]="(d/2)+'px'"
  [style.transform]="'translateY('+(-h/2)+'px) rotateX(90deg)'"
  [style.backgroundColor]="color"></div>
  <div class="bottom"
  [style.width]="(w-2*sizeCorner)+'px'"
  [style.height]="(d/2)+'px'"
  [style.transform]="'translateY('+(h/2)+'px) rotateX(-90deg)'"
  [style.backgroundColor]="color"></div>
  <div class="corner" [style.transform]="'translateX('+(-w/2+shiftPartCorner2)+'px) translateY('+(-h/2+shiftPartCorner2)+'px) rotateZ(270deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="corner" [style.transform]="'translateX('+(w/2-shiftPartCorner2)+'px) translateY('+(-h/2+shiftPartCorner2)+'px) rotateZ(0deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="corner" [style.transform]="'translateX('+(w/2-shiftPartCorner2)+'px) translateY('+(h/2-shiftPartCorner2)+'px) rotateZ(90deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="corner" [style.transform]="'translateX('+(-w/2+shiftPartCorner2)+'px) translateY('+(h/2-shiftPartCorner2)+'px) rotateZ(180deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
</div>
<div class="lid bottom"
[style.width]="w+'px'"
[style.height]="h+'px'"
[style.transform]="'translateZ(-'+d/4+'px)'">
  <div class="front"
  [style.width]="w+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateZ('+(d/4)+'px)'"
  [style.backgroundColor]="color">
    <div class="content">
      <div class="text" [style.font-size]="(0.08*w)+'px'">Scratch to see the game activation key</div>
      <div class="scratch">
        <div class="code" [style.font-size]="(0.04*w)+'px'">{{code}}</div>
        <canvas
        [attr.width]="(0.8*w)+'px'"
        [attr.height]="(0.1*h)+'px'"
        (mousedown)='canScratch = true'
        (mouseup)='canScratch = false'
        (touchstart)='canScratch = true'
        (touchend)='canScratch = false'
        (mousemove)='addHole($event)'
        (touchmove)='addHole($event)'></canvas>
      </div>
    </div>
    <div class="insideWrap" [style.background-image]="'url('+wrap+')'" ></div>
    <div class="overlap top"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(-h/2+sizeCorner/2)+'px)'"
    [style.backgroundColor]="color">
      <div class="insideWrap" [style.background-image]="'url('+wrap+')'" ></div>
    </div>
    <div class="overlap bottom"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(h/2-sizeCorner/2)+'px)'"
    [style.backgroundColor]="color">
      <div class="insideWrap" [style.background-image]="'url('+wrap+')'" ></div>
    </div>
  </div>
  <div class="back"
  [style.width]="w+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateZ('+(-d/4)+'px)'"
  [style.backgroundColor]="color">
    <div class="image"></div>
    <div class="overlap top"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(-h/2+sizeCorner/2)+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="overlap bottom"
    [style.width]="(w-2*sizeCorner)+'px'"
    [style.height]="(sizeCorner)+'px'"
    [style.transform]="'translateY('+(h/2-sizeCorner/2)+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="left"
  [style.width]="(d/2)+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateX('+(-w/2)+'px) rotateY(-90deg)'"
  [style.backgroundColor]="color">
    <div class="image" [style.background-image]="'url('+leftimg+')'"></div>
  </div>
  <div class="right"
  [style.width]="(d/2)+'px'"
  [style.height]="(h-2*sizeCorner)+'px'"
  [style.transform]="'translateX('+(w/2)+'px) rotateY(90deg)'"
  [style.backgroundColor]="color"></div>
  <div class="top"
  [style.width]="(w-2*sizeCorner)+'px'"
  [style.height]="(d/2)+'px'"
  [style.transform]="'translateY('+(-h/2)+'px) rotateX(90deg)'"
  [style.backgroundColor]="color"></div>
  <div class="bottom"
  [style.width]="(w-2*sizeCorner)+'px'"
  [style.height]="(d/2)+'px'"
  [style.transform]="'translateY('+(h/2)+'px) rotateX(-90deg)'"
  [style.backgroundColor]="color"></div>
  <div class="corner" [style.transform]="'translateX('+(-w/2+shiftPartCorner2)+'px) translateY('+(-h/2+shiftPartCorner2)+'px) rotateZ(270deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="corner" [style.transform]="'translateX('+(w/2-shiftPartCorner2)+'px) translateY('+(-h/2+shiftPartCorner2)+'px) rotateZ(0deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="corner" [style.transform]="'translateX('+(w/2-shiftPartCorner2)+'px) translateY('+(h/2-shiftPartCorner2)+'px) rotateZ(90deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
  <div class="corner" [style.transform]="'translateX('+(-w/2+shiftPartCorner2)+'px) translateY('+(h/2-shiftPartCorner2)+'px) rotateZ(180deg)'">
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX(-'+shiftPartCorner.x+'px) translateY(-'+shiftPartCorner.y+'px) rotateX(90deg) rotateY(22.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'rotateX(90deg) rotateY(45deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="d/2+'px'"
    [style.transform]="'translateX('+shiftPartCorner.y+'px) translateY('+shiftPartCorner.x+'px) rotateX(90deg) rotateY(67.5deg)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ('+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner.x-shiftPartCorner3.y)+'px) translateY('+(-shiftPartCorner.y+shiftPartCorner3.x)+'px) rotateZ(22.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(-shiftPartCorner4.y)+'px) translateY('+(shiftPartCorner4.x)+'px) rotateZ(45deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
    <div class="part"
    [style.width]="sizePartCorner+'px'"
    [style.height]="3*sizePartCorner+'px'"
    [style.transform]="'translateX('+(shiftPartCorner.y-shiftPartCorner3.x)+'px) translateY('+(shiftPartCorner.x+shiftPartCorner3.y)+'px) rotateZ(67.5deg) translateZ(-'+d/4+'px)'"
    [style.backgroundColor]="color"></div>
  </div>
</div>
