<div class='ready'
[style.animationName]="animationNameReady"
[style.marginTop]="marginReady"
>{{ trnl.trnl(['Ready to send', 'Готово']) }}</div>
<div class="buttons" [style.transform]="transformButtons" [style.opacity]="opacitybuttons">
  <div class="button back" (click)="push('back')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/arrowback.png)'"></div>
    <div class="text">{{ trnl.trnl(['Back', 'Назад']) }}</div>
  </div>
  <div class="button demo" (click)="push('demo')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/desktop.png)'"></div>
    <div class="text">{{ trnl.trnl(['Demo', 'Демо']) }}</div>
  </div>
  <!-- <div class="button payment" (click)="push('payment')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/payment.png)'"></div>
    <div class="text">{{ trnl.trnl(['Payment', 'Оплата']) }}</div>
  </div> -->
  <div class="button accept" (click)="push('accept')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/accept.png)'"></div>
    <div class="text">{{ trnl.trnl(['Accept', 'Ок']) }}</div>
  </div>
</div>
