<div class='ready'
[style.animationName]="animationNameReady"
[style.marginTop]="marginReady"
>Ready to send</div>
<div class="buttons" [style.transform]="transformButtons">
  <div class="button back" (click)="push('back')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/arrowback.png)'"></div>
    <div class="text">Back</div>
  </div>
  <div class="button demo" (click)="push('demo')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/desktop.png)'"></div>
    <div class="text">Demo</div>
  </div>
  <div class="button payment" (click)="push('payment')">
    <div class="ico" [style.backgroundImage]="'url(../../assets/payment.png)'"></div>
    <div class="text">Payment</div>
  </div>
</div>
