@use "sass:math";

:host {
  .workplace {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform ease 0.3s;
    .explanation {
      position: absolute;
      top: 0px;
      left: 5%;
      width: 90%;
      height: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20px;
      color: #999;
      user-select: none; /* supported by Chrome and Opera */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     transition: all ease 0.3s;
    }
    .explanation.hide {
      font-size: 14px;
      color: #e91e63;
      display: none;
      transform: translateY(100vh) scale(0);
      z-index: 10;
    }
    .explanation.bottom {
      font-size: 14px;
      color: #e91e63;
      display: flex;
      transform: translateY(100vh) scale(0);
      z-index: 10;
    }
    .explanation.center {
      font-size: 14px;
      color: #e91e63;
      display: flex;
      transform: translateY(50vh) scale(2);
      z-index: 10;
    }
    .explanation.top {
      font-size: 14px;
      color: #999;
      display: flex;
      transform: translateY(0vh) scale(1);
      z-index: 10;
    }
    .buttons {
      position: absolute;
      bottom: 0px;
      left: 5%;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      text-align: center;
      transition: all ease 0.3s;
      .btnGifts {
        margin: 10px;
        border-radius: 10px;
        color: #00bcd4;
        background-color: #00bcd400;
        transition: all ease 0.3s;
        .textBtnGifts {
          font-size: 20px;
          font-weight: bold;
        }
        .subtextBtnGifts {
          margin-top: 10px;
          font-size: 12px;
          color: #999;
        }
      }
      .btnGifts.desktop {
        padding: 20px;
        cursor: pointer;
      }
      .btnGifts.desktop:hover {
        background-color: #00bcd433;
      }
      .btnNext {
        margin: 10px;
        border-radius: 10px;
        color: #e91e63;
        background-color: #e91e6300;
        transition: all ease 0.3s;
        .textBtnGifts {
          font-size: 20px;
          font-weight: bold;
        }
        .subtextBtnGifts {
          margin-top: 10px;
          font-size: 12px;
          color: #999;
        }
      }
      .btnNext.desktop {
        padding: 20px;
        cursor: pointer;
      }
      .btnNext.desktop:hover {
        background-color: #e91e6333;
      }
      .next {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .text {
          font-size: 20px;
          color: #e91e63;
        }
        .subtext {
          margin: 10px;
          font-size: 12px;
          color: #999;
        }
      }
      .next.desktop {
        margin: 10px;
        transition: background-color ease 0.3s;
        border-radius: 10px;
        .text {
          margin: 20px;
        }
      }
      .next.desktop:hover {
        cursor: pointer;
        background-color: #e91e632e;
      }
    }
    .drawWorkplace {
      z-index: 10;
      position: absolute;
    }
  }
  .optionGift {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #eeeeee00;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition:all ease 0.3s;
    .icoGift {
      margin: 10px;
      min-width: 100px;
      min-height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .textGift {
      margin: 10px;
      font-size: min(4vw, 14px);
      color: #333;
      overflow: hidden;
      flex: 1;
    }
    .editGift, .deleteGift {
      margin-right: 0px;
      min-width: 0px;
      min-height: 0px;
      position: sticky;
      border-radius: 10px;
      cursor: pointer;
      width: 0px;
      height: 0px;
      transform: rotate(90deg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
    }
    .editGift {
      background-color: #ffc107;
      background-image: url(../../assets/penandpaper.png);
    }
    .deleteGift {
      background-color: #f44336;
      background-image: url(../../assets/trash.png);
    }
  }
  .optionGift.choosenGift {
    background-color: #eeeeeeff;
    .editGift, .deleteGift {
      min-width: 30px;
      min-height: 30px;
      transform: rotate(0deg);
      margin-right: 10px;
    }
  }
  .bottomMenu {
    position: sticky;
    bottom: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    * {
      margin: 10px;
    }
  }
  .noneGifts {
    width: 100%;
    height: 100%;
    flex: 1;
  }
  .wrapSliderAdd {
    // min-width: min(80%, 800px);
    // min-height: min(80%, 500px);
    // max-width: 90%;
    // max-height: 90%;
    min-height: 80%;
    overflow: hidden;
    align-self: center;
  }
  .bottomMenuAdd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    z-index: 2;
    * {
      margin: 10px;
    }
  }
  .wrapListEdit {
    min-width: 80vw;
    min-height: 90vh;
  }
  .skeletonEditList {
    min-width: min(80%, 500px);
    min-height: min(90%, 800px);
  }
  .bottomMenuListEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    * {
      margin: 10px;
    }
  }
  .displayEditGreetingCard {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .skeletonTextareaTitle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .skeleton2TextareaTitle, .skeleton3TextareaTitle {
    max-width: min(60vw, 400px);
    max-height: min(30vw, 200px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .skeleton3TextareaTitle {
    max-width: min(70vw, 400px);
    max-height: min(50vw, 200px);
  }
  .bottomMenuFrontGreeting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    bottom: 0px;
    background-color: #fff;
    * {
      margin: 10px;
    }
  }
  .skeletonCroppingGreeting {
    width: 100%;
    height: 80%;
  }
  .skeletonCroppingGame {
    margin: auto 0px;
    align-self: center;
    height: 50%;
    width: 80%;
  }
  .skeletonListImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100%;
    * {
      margin: 20px;
    }
  }
  .uploadArrayImages {
    width: 200px;
    height: 200px;
    border: 5px solid #ddd;
    background-color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(../../assets/upload.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .labelFileUpload, .cancelUpload {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #8bc34a;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    transform: scale(1) rotate(0deg);
    transition: all ease 0.3s;
  }
  .labelFileUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px;
    border: 5px solid #8bc34a;
    background-color: unset;
    color: #8bc34a;
    width: 100px;
    height: 50px;
  }
  .cancelUpload {
    background-color: #f44336;
  }
  .fileUpload {
    display: none;
  }
  .errorTextUpload {
    margin: 10px 10%;
    font-size: 12px;
    color: #f44336;
    text-align: center;
  }
  .skeletonColorpickerDrawSignGreeting {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #skeletonSignGreeting {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .labelcolorpickersigngreeting {
    width: min(200px, 90vw);
    height: min(200px, 90vw);
    border: 5px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    z-index: 2;
    position: absolute;
  }
  .optionPlatformGame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    transition: all ease 0.3s;
    .textOptionPlatformGame {
      margin: 20px 10px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }
    .checkmarkOptionPlatformGame {
      margin: 10px;
      width: 30px;
      height: 30px;
      background-color: #8bc34a;
      border-radius: 100px;
      background-image: url(../../assets/checkmark.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: scale(0) rotate(180deg);
      transition: all ease 0.3s;
    }
  }
  .optionPlatformGame.checked {
    opacity: 1;
    .checkmarkOptionPlatformGame {
      transform: scale(1) rotate(0deg);
    }
  }
  .nextButton {
    background: linear-gradient(0turn, #e91e63, #00bcd4);
    animation-name: next;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .wrapRack {
    position: fixed;
    right: -1000%;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(../../assets/rack.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: right ease 2s;
    .text {
      font-size: 40px;
      color: #fff;
      font-weight: bold;
      text-align: right;
      max-width: min(80vw, 400px);
      background: linear-gradient(#e91e63aa, #03baca);
      border-radius: 20px 0px 0px 0px;
      padding: 10px;
      .subtext {
        font-size: 26px;
        color: #e91e63;
      }
    }
  }
  .animatedBox {
    transition: all ease 2s;
  }
  .skeletonGiftIntoBox {
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skeletonGiftIntoBox.active {
    border: 3px solid #ffeb3b;
  }
  .additButton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffeb3b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 30;
  }
}
@keyframes next {
  $freq: 100;
  @for $i from 0 through $freq {
    #{math.div($i, $freq)*100}% {
      // @if $i < math.div($freq, 2) {
      //   outline: #{10*math.div($i, math.div($freq, 2))}px solid #e91e63;
      // } @else {
      //   outline: #{10*math.div(($freq - $i), math.div($freq, 2))}px solid #e91e63;
      // }

      background: linear-gradient(#{math.div($i, $freq)}turn, #e91e63, #00bcd4);
    }
  }
}
