:host {
  // animation-name: rotateBox;
  // animation-duration: 3s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // transform: rotateY(15deg) rotateX(-15deg);
  //----------------
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  .side {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    .сlip {
      position: absolute;
      transform-origin: left center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform-style: preserve-3d;
      .triangle {
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fill {
          position: absolute;
          background-color: #c3aa83;
        }
      }
      .triangle.first {
        transform-origin: center bottom;
      }
      .triangle.second {
        transform-origin: center top;
      }
      .middle {
        background-color: #c3aa83;
      }
    }
    .сlip.first {
      transform: translateX(550%) rotateY(0deg);
    }
    .darkness {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .wrap {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .side.front, .side.back, .side.left, .side.right {
    transform-origin: center bottom;
  }
  .side.top {
    transform-origin: left center;
  }
  .packageSide, .packageCorner, .packageTriangle, .packageFill {
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .packageCorner, .packageTriangle {
    overflow: hidden;
  }
  .packageSide, .packageFill {
    // background-color: #ffffff99;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 50px;
  }
  .packageFill {
    flex-shrink: 0;
    box-shadow: 0px 0px 3px #33333300;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    .image {
      flex-shrink: 0;
    }
  }
  .tape, .bow {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 20px;
    transform-style: preserve-3d;
  }
  @keyframes rotateBox {
    // 0% {
    //   transform: rotateX(0deg) rotateY(0deg);
    // }
    // 100% {
    //   transform: rotateX(360deg) rotateY(360deg);
    // }
    0% {
      transform: translateY(300px) rotateX(-15deg) rotateY(0deg);
    }
    100% {
      transform: translateY(300px) rotateX(-15deg) rotateY(360deg);
    }
    // 0% {
    //   transform: rotateX(0deg);
    // }
    // 100% {
    //   transform: rotateX(360deg);
    // }
  }
}
:host(.animate) {
  transition: transform ease 0.3s;
  .side {
    transition: transform ease 0.3s;
    .сlip {
      transition: transform ease 0.3s;
      .triangle {
        transition: transform ease 0.3s;
      }
    }
  }
  .packageSide {
    transition: transform ease 1s;
  }
  .packageCorner, .packageSide.centerside, .packageTriangle {
    transition: transform ease 0.5s;
  }
  .packageSide.front2 {
    transition: transform ease 3s;
  }
  .packageFill {
    transition: all ease 0.5s;
  }
  .tape, .bow {
    transition: transform ease 2s;
  }
}
:host(.shadow) {
  .packageFill {
    box-shadow: 0px 0px 3px #333333ff;
  }
}
