:host {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-40px);
  transition: all ease 0.3s;
  > .wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 90vh;
    > .ico {
      margin: 10px;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    > .text {
      margin: 10px;
      margin-left: 0px;
      font-size: 12px;
      color: #999;
    }
  }
}
