<div class="container" [style.display]="style[0].display" [style.opacity]="style[0].opacity">
  <div class="left">
    <div class="text" [style.animationName]="style[0].animationLeft" [style.transform]="style[0].transformLeft">
      {{ trnl.trnl(['Wow, there is', 'Вау, для вас']) }}<br>{{ trnl.trnl(['a gift for you!', 'подарок']) }}
    </div>
  </div>
  <div class="right">
    <div class="text" [style.animationName]="style[0].animationRight" [style.transform]="style[0].transformRight">
      {{ trnl.trnl(['Wow, there is', 'Вау, для вас']) }}<br>{{ trnl.trnl(['a gift for you!', 'подарок']) }}
    </div>
  </div>
</div>

<div class="bucks" [style.display]="style[1].display" [style.opacity]="style[1].opacity">
  <div style="font-size:6vw;color:#999"> {{text.left}} </div>
  <div [style.color]="text.color" [style.fontSize]="text.size+'vw'"> {{text.center}} </div>
  <div style="font-size:6vw;color:#999"> {{text.right}} </div>
</div>

<div [class]="showhint ? 'hint' : 'hint hide'">
  <ng-container *ngIf="isTouch">{{ trnl.trnl(['double tap to continue', 'Двойное нажатие, чтобы продолжить']) }}</ng-container>
  <ng-container *ngIf="!isTouch">{{ trnl.trnl(['click/space to continue', 'клик/пробел, чтобы продолжить']) }}</ng-container>
</div>
