<div class="arrows">
  <div class="arrow left" (click)="slideleft()"></div>
  <div class="arrow right" (click)="slideright()"></div>
</div>
<div class="content">
  <div class="option center" value="greetingcard">
    <div class="display">
      <app-greeting-card #demogreetingcard [sign]="'../assets/greetingcard/sign.png'"></app-greeting-card>
    </div>
    <div class="title">Greeting card</div>
    <div class="description">Write a poem with wishes and sign with your own hand.</div>
  </div>
  <div class="option right" value="game">
    <div class="display">
      <app-game [size]="sizegame" [animate]="true" [color]="'#006FCD'" [img]="'../../assets/game/example.jpg'" [leftimg]="'../../assets/game/psleft.png'" ></app-game>
    </div>
    <div class="title">Game</div>
    <div class="description">Buy the game and enter the activation code.</div>
  </div>
</div>
