<div class="arrows">
  <div class="arrow left" (click)="slideleft()"></div>
  <div class="arrow right" (click)="slideright()"></div>
</div>
<div class="content">
  <div class="option center" value="greetingcard">
    <div class="display">
      <app-greeting-card #demogreetingcard [sign]="'../assets/greetingcard/sign.png'" [text]='trnl.trnl(["May your success double and joys triple, May your sadness halve and your troubles disappear!", "Пусть будет все, что в жизни нужно,<br>Чем жизнь бывает хороша:<br>Любовь, здоровье, верность, дружба<br>И вечно юная душа."])'></app-greeting-card>
    </div>
    <div class="title">{{ trnl.trnl(['Greeting card', 'Открытка']) }}</div>
    <div class="description">{{ trnl.trnl(['Write a poem with wishes and sign with your own hand.', 'Напишите ваши пожелания и подпишите собственной рукой']) }}</div>
  </div>
  <div class="option right" value="game">
    <div class="display">
      <app-game [size]="sizegame" [animate]="true" [color]="'#006FCD'" [img]="'../../assets/game/example.jpg'" [leftimg]="'../../assets/game/psleft.png'" ></app-game>
    </div>
    <div class="title">{{ trnl.trnl(['Game', 'Видеоигра']) }}</div>
    <div class="description">{{ trnl.trnl(['Buy the game and enter the activation code', 'Купите цифровой код видеоигры и введите его']) }}</div>
  </div>
</div>
