:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  .arrow {
    width: min(10vw, 50px);
    height: min(10vw, 50px);
    background-image: url(../../assets/triangle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  .arrow.left {
    margin-left: 10px;
  }
  .arrow.right {
    margin-right: 10px;
    transform: rotate(180deg);
    animation-delay: 2s;
  }
  .content {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .option {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .option.left {
    margin-left: -200%;
  }
  .option.right {
    margin-left: 200%;
  }
  .option.center {
    margin-left: 0%;
  }
  .display {
    min-width: min(80vw, 400px);
    min-height: min(80vw, 400px);
    max-width: min(80vw, 400px);
    max-height: min(80vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .title {
    margin: 20px;
    text-align: center;
    font-size: 20px;
  }
  .description {
    margin: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    height: 50px;
  }
}
:host(.animation) {
  .option {
    transition: margin ease 0.3s;
    -webkit-transition: margin ease 0.3s;
    -moz-transition: margin ease 0.3s;
    -o-transition: margin ease 0.3s;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
